@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: #191c1a;
}

h2 {
    color: #191c1a;
}

img {
    width: 12em;
    padding-left: 40px;
}

.login {
    padding: 1em;
    margin: 2em auto;
    width: 17em;
    background: #8FF8BF
    border-radius: 25px;
}

label {
    font-size: 10pt;
    color: #191c1a;
}

input[type="text"]
input[type="password"]
textarea {
    padding: 8px;
    padding-top: 100px;
    width: 95%;
    background: darkgreen;
    border: 0;
    font-size: 10pt;
    
}